
.button {
    border-color: aqua ;
    color:aqua;
    background-color: white;
    text-align:center;
    margin:20px;
    padding:10px;
    width:200px;
    border-radius: 20px;
    border-style:solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:17px;
    cursor: pointer;
    
}
.button1 { 
    color:white;
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    border: none;
    width: 40px;
    height: 40px;
    margin: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    
    }

.button2 { 
    border-color: black ;
    background-color: blue;
    color:white;
    text-align:center;
    margin:20px;
    padding:10px;
    width:200px;
    cursor:pointer;
    box-shadow: 10px 5px 5px black;
    }